src/main/resources/etc/incident.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://ws.service.system.haze.xinyuan.com/"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="UserServiceWSImplService" targetNamespace="http://ws.service.system.haze.xinyuan.com/"><wsdl:types><xs:schema elementFormDefault="unqualified" targetNamespace="http://ws.service.system.haze.xinyuan.com/" version="1.0"><xs:element name="getUser" type="tns:getUser"/><xs:element name="getUserResponse" type="tns:getUserResponse"/><xs:complexType name="getUser"><xs:sequence><xs:element minOccurs="0" name="id" type="xs:string"/><xs:element name="count" type="xs:int"/></xs:sequence></xs:complexType><xs:complexType name="getUserResponse"><xs:sequence><xs:element minOccurs="0" name="return" type="xs:string"/></xs:sequence></xs:complexType></xs:schema></wsdl:types><wsdl:message name="getUserResponse"><wsdl:part element="tns:getUserResponse" name="parameters">
</wsdl:part></wsdl:message><wsdl:message name="getUser"><wsdl:part element="tns:getUser" name="parameters">
</wsdl:part></wsdl:message><wsdl:portType name="UserServiceWS"><wsdl:operation name="getUser"><wsdl:input message="tns:getUser" name="getUser">
</wsdl:input><wsdl:output message="tns:getUserResponse" name="getUserResponse">
</wsdl:output></wsdl:operation></wsdl:portType><wsdl:binding name="UserServiceWSImplServiceSoapBinding" type="tns:UserServiceWS"><soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/><wsdl:operation name="getUser"><soap:operation soapAction="" style="document"/><wsdl:input name="getUser"><soap:body use="literal"/></wsdl:input><wsdl:output name="getUserResponse"><soap:body use="literal"/></wsdl:output></wsdl:operation></wsdl:binding><wsdl:service name="UserServiceWSImplService"><wsdl:port binding="tns:UserServiceWSImplServiceSoapBinding" name="UserServiceWSImplPort"><soap:address location="http://localhost:8080/haze/cxf/userService"/></wsdl:port></wsdl:service></wsdl:definitions>